// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff, //blau
  dark-primary: #32528B,
  secondary:  #32db64, //verd
  danger:     #f53d3d, //salmó
  light:      #f4f4f4, //Quasi blanc
  dark:       #222, //Gris fosc

  /*texas-primary: #606060,*/
  // texas-primary: #2E3436, // Se utiliza para el fondo
  texas-primary: #e9e9e9,
  texas-secondary: #8a8a8a,
  texas-dark: #333333,
  /*texas-light: #5a5a5a,*/
  texas-light: #ffffff,
  texas-selected: #000000,

  film-title: #efd923,

  theme-color: #FF346E, 
	 texas-box: #fff,   // cajas de cada pagina
	texas-text: #656666
  // texas-text: #EEEEEC
);

$font-weight-bold: 55px !default;
$film-title: #efd923;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
