<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Esdeveniment</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding-bottom>
  <ion-item class="box">
		<h1>{{allParams.type}}</h1>      
      <ion-grid *ngIf="eventIsACicle(allParams);else mostrarCineforum" padding-bottom>
  			<ion-row><ion-col><h2>{{allParams.name}}</h2></ion-col>
   	 	  </ion-row>
   	 	  <ion-row>
    			<ion-col>Inici: {{convertDateFormat(allParams.ini_date)}}</ion-col>
    			<ion-col>
			      Fi: {{convertDateFormat(allParams.fin_date)}}
    			</ion-col>
  			</ion-row>
  			<ion-row>
    			<ion-col col-6 *ngFor="let film of allParams.films">
      			<img [src]="film.image" (click)="goToFilmPage(film)"/>
    			</ion-col>
    		</ion-row>
    		<ion-row *ngFor="let film of allParams.films" padding-bottom>
    			<ion-col>{{ film.name }}<br>{{ film.directors }}</ion-col>
  			</ion-row>
		  </ion-grid>
  		<ng-template #mostrarCineforum>
  			<ion-grid padding-bottom>
  				<ion-row>
  					<ion-col class="box">
  					 <h1>{{ allParams.type}}</h1>
            <span class="attribute">Premis</span> {{ allParams.awards }}<br>
            <span class="attribute">Duració</span> {{ allParams.duration }}<br>
            <span class="attribute">Direcció</span> {{ allParams.directors }}<br>
            <span class="attribute">Actors</span> {{ allParams.actors }}<br>
            <span class="attribute">Versió</span> {{ allParams.version }}<br>
            <span class="attribute">Valoració</span> {{ allParams.rate }}<br>
            <span class="attribute">Qualificació per edats</span>{{ allParams.rating }}<br>
  					</ion-col>
  				</ion-row>
  			</ion-grid>
  		</ng-template>
		
  	</ion-item>

  <!--<button color="texas-light" ion-button navPop><--</button>-->
</ion-content>