page-film {
	body {
		white-space: normal;
		text-align: justify;
	}
	img {
		width: 150px;
		height: auto;
		float: left;
		padding: 5px;
	}
	h2 {
		font-weight: $font-weight-bold;
		font-size:55px;	
	}
	.title {
		font-size: 25px;
		/*color: $colors[];*/
		color: $film-title;
		text-transform: uppercase;
	}

	.content {
		white-space: normal;
	}

	ion-grid {
		/*background-color: map-get($colors, texas-primary);*/
	}

}
