{% extends 'base.html.twig' %}

{% block content %}
	<div class="row">
			<div class="col-md-12 panel-warning">
				<div class="content-box-large">
					<div class="panel-heading">
						<div class="panel-title indexHeader"><h1>Panell de control  Cinemes Texas</h1></div>
					</div>
					<div class="panel-body">
					</div>
				</div>
			</div>
		 </div>
		  	
{% endblock %}
