{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
        <div class="col-md-6">
          <div class="content-box-large">
            <div class="panel-heading">
                  <div class="panel-title">Inserir Esdeveniment</div>
            </div>
            <div class="panel-body">
								{{ form_start(form, { 'attr' : { 'class': 'form-horizontal', 'id' : 'formEvents' } }) }}
				{{ form_errors(form) }}

				<div class="form-group">
					<label class="col-sm-2 control-label">Nom</label>
					<div class="col-sm-10">
					<input type="text" name="name" class="form-control" placeholder="Nom de l'esdeveniment" required>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Descripcio</label>
					<div class="col-sm-10">
					<textarea name="description" class="form-control" placeholder="Descripció de l'esdeveniment" required></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Tipus</label>
					<div class="col-sm-10">
						<select name="type" class="form-control" id="eventType">
							<option value="Generic">Generic</option>
							<option value="Cicle">Cicle</option>
							<option value="Cineforum">Cineforum</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Data d'Inici</label>
					<div class="col-sm-10">
					<input type="text" id="form_dateStart" class="form-control input-inline datepicker" data-provide='datepicker' data-date-format='yyyy-mm-dd' name='dateStart' placeholder="Data d'inici de l'esdeveniment" required>
					</div>
				</div>
			
				<div class="form-group">
					<label class="col-sm-2 control-label">Data fi</label>
					<div class="col-sm-10">
					<input type="text" id="form_dateEnd" class="form-control input-inline datepicker" data-provide='datepicker' data-date-format='yyyy-mm-dd' name='dateEnd' placeholder="Data final de l'esdeveniment" required>
					</div>
				</div>
				<div id="cicleType" style="display:none;">
					<div class="form-group">
						<label class="col-sm-2 control-label">Pel·lícula</label>
						<div class="col-sm-10">
							{{ form_errors(form.film) }}
							{{ form_widget(form.film, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Pel·lícula</label>
						<div class="col-sm-10">
							{{ form_errors(form.film2) }}
							{{ form_widget(form.film2, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Pel·lícula</label>
						<div class="col-sm-10">
							{{ form_errors(form.film3) }}
							{{ form_widget(form.film3, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Pel·lícula</label>
						<div class="col-sm-10">
							{{ form_errors(form.film4) }}
							{{ form_widget(form.film4, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>
				
				<div id="cineforumType" style="display:none">
					<div class="form-group">
						<label class="col-sm-2 control-label">Id de la Sessió</label>
						<div class="col-sm-10">
							{{ form_errors(form.session) }}
							{{ form_widget(form.session, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Nom del sponsor</label>
						<div class="col-sm-10">
							{{ form_errors(form.sponsorName) }}
							{{ form_widget(form.sponsorName, {'attr': {'class': 'form-control', 'placeholder' : 'Nom del sponsor'}}) }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Imatge del sponsor</label>
						<div class="col-sm-10">
							{{ form_errors(form.sponsorImg) }}
							{{ form_widget(form.sponsorImg, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>
					<p class="errormsg" style="display:none;"></p>
					{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary', 'id':'save'}}) }}
				{{ form_end(form) }}
            </div>
          </div>
        </div>
		  </div>
    </div>
		</div>
{% endblock %}
