{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
	<div class="col-md-10">
			<div class="content-box-header">
				  <div class="panel-title">Inserir Sessions a la cartellera: {{ film.name }}</div>
			</div>
			<div class="content-box-large box-with-header">
				{{ form_start(form, { 'attr' : { 'class': 'form-inline', 'id' : 'form0' } }) }}
				{{ form_errors(form) }}
					<fieldset id="fieldset_0">
						<div class="form-group col-sm-4">
						<label class='labels'>Dia</label>
							{{ form_errors(form.date) }}
							{{ form_widget(form.date) }}
						</div>

						<div class="form-group col-sm-4">
						<label class='labels'>Hora</label>
							{{ form_errors(form.time) }}
							{{ form_widget(form.time, { 'attr' : { 'class' : 'hourInput', 'onblur' : 'validate()' }}) }}
						</div>
				
						<div class="form-group col-sm-2 addHallDiv">
						<label class='labels'>Sala</label>
							{{ form_errors(form.select) }}
							{{ form_widget(form.select) }}
						</div>
						<div class="form-group col-sm-1 addSessionDiv" title="Afegir Sessió" id="0">
							<span class="glyphicon glyphicon-plus-sign addSession"></span>
						</div>
							<div class="form-group col-sm-1 removeSessionDiv" title="Esborrar Sessió" id="0">
							<span class="glyphicon glyphicon-minus-sign addSession"></span>
						</div>
					</fieldset>

					{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
				{{ form_end(form) }}
				<div id="noSend" style="display:none;">
						<p>Introdueix una hora amb format hh:mm</p>
				</div>
			</div>
<script>
var sessionsExist={{sessionsExist}}
var sessionActive={{ session }};
var i=1;
var k=1;
var oldJ=2;
var variables=[];
variables[0]=i;
variables[1]=k;
variables[2]=oldJ;
	if(sessionActive==1){
		var dateDiff= {{ dateDiff}};
		i=addForm(dateDiff,sessionsExist);
	
		if(sessionsExist==0){
			variables[0]=i;
			$('body').delegate('.addSessionDiv','click', function(e) { 
				var j=$(this).attr('id');
				variables=addRow(variables[0],j,variables[1],variables[2]);
			});
		}
		else{
			$('body').delegate('.addSessionDiv','click', function(e) { 
				var j=$(this).attr('id');
				variables=addRow(variables[0],j,variables[1],variables[2]);
			});
		}
	}
</script>
{% endblock %}
