{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
	<div class="col-md-6">
		<div class="content-box-large">
			<div class="panel-heading">
				  <div class="panel-title">Modificar sessió</div>
			 </div>
			<div class="content-box-large">
				{{ form_start(form, { 'attr' : { 'class': 'form-inline', 'id' : 'form0' } }) }}
				{{ form_errors(form) }}
					<fieldset id="fieldset_0">
						<div class="form-group col-sm-4">
						<label class='labels'>Dia de la Sessió</label>
							{{ form_errors(form.date) }}
							{{ form_widget(form.date) }}
						</div>

						<div class="form-group col-sm-4">
						<label class='labels'>Hora</label>
							{{ form_errors(form.showtime) }}
							{{ form_widget(form.showtime, { 'attr' : { 'class' : 'hourInput' }}) }}
						</div>
				
						<div class="form-group col-sm-2 addHallDiv">
						<label class='labels'>Sala</label>
							{{ form_errors(form.hall) }}
							{{ form_widget(form.hall) }}
						</div>
					</fieldset>
					
					{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary', 'id':'save'}}) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
