{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
        <div class="col-md-6">
          <div class="content-box-large">
            <div class="panel-heading">
                  <div class="panel-title">Modificar Pel·lícula</div>
              </div>
            <div class="panel-body">
			{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' } }) }}
			{{ form_errors(form) }}
              <div class="form-group">
                <label class="col-sm-2 control-label">Títol</label>
                <div class="col-sm-10">
				{{ form_errors(form.name) }}
				{{ form_widget(form.name, {'attr': {'class': 'form-control','placeholder':'Títol Pel·lícula'}}) }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Sinopsi</label>
                <div class="col-sm-10">
				{{ form_errors(form.overview) }}
				{{ form_widget(form.overview, {'attr': {'class': 'form-control','placeholder':'Sinopsi Pel·lícula'}}) }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Premis</label>
                <div class="col-sm-10">
				{{ form_errors(form.awards) }}
				{{ form_widget(form.awards, {'attr': {'class': 'form-control','placeholder':'Premis'}}) }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Títol Original</label>
                <div class="col-sm-10">
				{{ form_errors(form.originalTitle) }}
				{{ form_widget(form.originalTitle, {'attr': {'class': 'form-control','placeholder':'Títol original'}}) }}
                </div>
              </div>
               <div class="form-group">
                <label class="col-sm-2 control-label">Nacionalitat</label>
                <div class="col-sm-10">
				{{ form_errors(form.nacionality) }}
				{{ form_widget(form.nacionality, {'attr': {'class': 'form-control','placeholder':'Nacionalitat'}}) }}
                </div>
              </div>
               <div class="form-group">
                <label class="col-sm-2 control-label">Any producció</label>
                <div class="col-sm-10">
				{{ form_errors(form.productionYear) }}
				{{ form_widget(form.productionYear, {'attr': {'class': 'form-control','placeholder':'Any producció'}}) }}
                </div>
              </div>
               <div class="form-group">
                <label class="col-sm-2 control-label">Genere</label>
                <div class="col-sm-10">
				{{ form_errors(form.genre) }}
				{{ form_widget(form.genre, {'attr': {'class': 'form-control','placeholder':'Genere'}}) }}
                </div>
              </div>
               <div class="form-group">
                <label class="col-sm-2 control-label">Duració</label>
                <div class="col-sm-10">
				{{ form_errors(form.duration) }}
				{{ form_widget(form.duration, {'attr': {'class': 'form-control','placeholder':'Duració'}}) }}
                </div>
              </div>
               <div class="form-group">
                <label class="col-sm-2 control-label">Directors</label>
                <div class="col-sm-10">
				{{ form_errors(form.directors) }}
				{{ form_widget(form.directors, {'attr': {'class': 'form-control','placeholder':'Directors'}}) }}
                </div>
              </div>
               <div class="form-group">
                <label class="col-sm-2 control-label">Actors</label>
                <div class="col-sm-10">
				{{ form_errors(form.actors) }}
				{{ form_widget(form.actors, {'attr': {'class': 'form-control','placeholder':'Actors'}}) }}
                </div>
              </div>
               <div class="form-group">
                <label class="col-sm-2 control-label">Versió</label>
                <div class="col-sm-10">
				{{ form_errors(form.version) }}
				{{ form_widget(form.version, {'attr': {'class': 'form-control','placeholder':'Versió'}}) }}
                </div>
              </div>
 			 <div class="form-group">
                <label class="col-sm-2 control-label">Ruta Tràiler</label>
                <div class="col-sm-10">
				{{ form_errors(form.trailer) }}
				{{ form_widget(form.trailer, {'attr': {'class': 'form-control','placeholder':'Tràiler'}}) }}
                </div>
               <div class="form-group">
				<label class="col-sm-2 control-label">Clasificació</label>
                <div class="btn-group bootstrap-select">
				{{ form_errors(form.rate) }}
				{{ form_widget(form.rate, {'attr': {'class': 'btn dropdown-toggle selectpicker btn-default','data-toggle':'dropdown'}}) }}
                </div>
              </div>
               <div class="form-group">
                <div class="col-md-10">
				{{ form_errors(form.image) }}
				{{ form_widget(form.image, {'attr': {'class': 'btn btn-default'}}) }}
                </div>
              </div>
               <div class="form-group">
                <div class="col-sm-10">
				{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
              </div>
			{{ form_end(form) }}
            </div>
          </div>
        </div>
		  </div>
    </div>
		</div>
{% endblock %}
