{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
        <div class="col-md-6">
          <div class="content-box-large">
            <div class="panel-heading">
                  <div class="panel-title">Modificar Cartellera</div>
              </div>
            <div class="panel-body">
			{{ form_start(form, { 'attr' : { 'class': 'form-horizontal', 'id' : 'formBillboard' } }) }}
			{{ form_errors(form) }}

				<div class="form-group">
                <div class="col-sm-10">
				{{ form_errors(form.film) }}
				{{ form_widget(form.film) }}
				</div>
              </div>

            <div class="form-group">
                <div class="col-sm-10">
				{{ form_errors(form.dateStart) }}
				{{ form_widget(form.dateStart) }}
				</div>
              </div>
			
				<div class="form-group">
                <div class="col-sm-10">
				{{ form_errors(form.dateEnd) }}
				{{ form_widget(form.dateEnd) }}
    			</div>
              </div>
            
				<div class="form-group">
                <div class="col-sm-10">
				<p class="errormsg" style="display:none;"></p>
				{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
              </div>

			{{ form_end(form) }}
            </div>
          </div>
        </div>
		  </div>
    </div>
		</div>
{% endblock %}
