{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
<div class="panel-heading">
					<div class="panel-title">Pel·lícules a properament</div>
				</div>
  				<div class="panel-body">
  					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
						<thead>
							<tr>
								<th>Cartellera Id</th>
								<th>Pel·lícula</th>
								<th>Data Inici</th>
								<th>Data Fi</th>
								<th>Accions</th>
							</tr>
						</thead>
						<tbody>
						{% for coming in comingsoon %}
							<tr class="odd gradeX">
								<td>{{ coming.id}}</td><script>var id={{ coming.id }}</script>
								<td>{{ coming.name}}</td>
								<td>{{ coming.dateStart|date('Y-m-d')}}</td>
								<td>{{ coming.dateEnd|date('Y-m-d')}}</td>
								<td><span class="deleteComingSoon" id="var_span">Esborrar</span><span class="modify"><a href="{{ path('modifyComingSoon', {'id': coming.id }) }}">Modificar</a></span></td>
							</tr>
							<script>document.getElementById('var_span').setAttribute('id',id)</script>
						{% endfor %}
						</tbody>
					</table>
  				</div>
  			</div>
{% endblock %}
