{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
<div class="panel-heading">
					<div class="panel-title">Sessions</div>
				</div>
  				<div class="panel-body">
  					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
						<thead>
							<tr>
								<th>Id de la Sessió</th>
								<th>Pel·lícula</th>
								<th>Id Cartellera</th>
								<th>Sala</th>
								<th>Data</th>
								<th>Hora</th>
								<th>Accions</th>
							</tr>
						</thead>
						<tbody>
						{% for session in sessions %}
							<tr class="odd gradeX">
								<td>{{ session.id }}</td><script>var id={{ session.id }}</script>
								<td>{{ session.name}}</td>
								<td>{{ session.billboard}}</td>
								<td>{{ session.hall}}</td>
								<td>{{ session.date|date('Y-m-d')}}</td>
								<td>{{ session.showtime|date('H:i')}}</td>
								<td><span class="deleteSession" id="var_span">Esborrar</span><span class="modify"><a href="{{ path('modifySession', {'id': session.id }) }}">Modificar</a></span></td>
							</tr>
							<script>document.getElementById('var_span').setAttribute('id',id)</script>
						{% endfor %}
						</tbody>
					</table>
  				</div>
  			</div>
{% endblock %}
