{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
<div class="panel-heading">
					<div class="panel-title">Pel·lícules en Cartellera</div>
				</div>
  				<div class="panel-body">
  					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
						<thead>
							<tr>
								<th>Cartellera Id</th>
								<th>Pel·lícula</th>
								<th>Data Inici</th>
								<th>Data Fi</th>
								<th>Sessions en Cartellera</th>
								<th>Accions</th>
							</tr>
						</thead>
						<tbody>
						{% for billboard in billboards %}
							<tr class="odd gradeX">
								<td>{{ billboard.id}}</td>
								<td>{{ billboard.name}}</td>
								<td>{{ billboard.dateStart|date('Y-m-d')}}</td>
								<td>{{ billboard.dateEnd|date('Y-m-d')}}</td>
								<td class="showSelectedSessions"><a href="{{ path('selectedSessions', {'id': billboard.id }) }}"> {{ billboard.contador}}</a></td>
								<td><span class="insertSession"><a href="{{ path('insertSession', {'id': billboard.id }) }}">Afegir Sessions</a></span><span class="deleteBillboard" id="{{ billboard.id }}">Esborrar</span><span class="modify"><a href="{{ path('modifyBillboard', {'id': billboard.id }) }}">Modificar</a></span></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
  				</div>
  			</div>
{% endblock %}
