{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
<div class="panel-heading">
					<div class="panel-title">Esdeveniments</div>
				</div>
  				<div class="panel-body">
  					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
						<thead>
							<tr>
								<th>Event Id</th>
								<th>Nom</th>
								<th>Tipus</th>
								<th>Data Inici</th>
								<th>Data Fi</th>
								<th>Accions</th>
							</tr>
						</thead>
						<tbody>
						{% for event in events %}
							<tr class="odd gradeX">
								<td>{{ event.id}}</td><script>var id={{ event.id }}</script>
								<td>{{ event.name}}</td>
								<td> {{ event.type }}</td>
								<td>{{ event.dateStart|date('d-m-Y')}}</td>
								<td>{{ event.dateEnd|date('d-m-Y')}}</td>
								<td><span class="deleteEvents" id="var_span">Esborrar</span>
							</tr>
							<script>document.getElementById('var_span').setAttribute('id',id)</script>
						{% endfor %}
						</tbody>
					</table>
  				</div>
  			</div>
{% endblock %}
