{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
<div class="panel-heading">
					<div class="panel-title">Pel·lícules</div>
				</div>
  				<div class="panel-body">
  					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
						<thead>
							<tr>
								<th>Id</th>
								<th>Títol</th>
								<th>Gènere</th>
								<th>Duració</th>
								<th>Versió</th>
								<th>Imatge</th>
								<th>Accions</th>
							</tr>
						</thead>
						<tbody>
						{% for film in films %}
							<tr class="odd gradeX">
								<td>{{ film.id}}</td><script>var id={{ film.id }}</script>
								<td>{{ film.name}}</td>
								<td>{{ film.genre}}</td>
								<td>{{ film.duration}} minuts</td>
								<td>{{ film.version}}</td>
								<td><img src="uploads/imageLogos/{{ film.image }}" width="50" height="75"/></td>
								<td><span class="deleteFilm" id="var_span">Esborrar</span><span class="modify" id="var_span2"><a href="{{ path('modifyFilm', {'id': film.id }) }}">Modificar</a></span></td>
							</tr>
							<script>document.getElementById('var_span').setAttribute('id',id)</script>
						{% endfor %}
						</tbody>
					</table>
  				</div>
  			</div>
{% endblock %}