.table th,td{
	text-align:center!important; 
    vertical-align:middle!important;
}

.deleteFilm, .deleteBillboard, .deleteComingSoon, .deleteSession, .modify a, .insertSession a, .deleteEvents{
	margin:5px;
	font-weight:bold;
	text-decoration:none;
}
	
.deleteFilm, .deleteBillboard, .deleteComingSoon, .deleteSession, .deleteEvents{
	color:red;
}
.modify a{
	color:green;
}

.insertSession a{
	color:blue;
}

.customInput{
	padding-right:15px;
	padding-left:15px;
}

fieldset{
margin-bottom:10px!important;
}

.labels{
margin-right:5px;
}

@media only screen and (min-width:1500px){
.addHallDiv{
margin-left:-70px;
}

.addSessionDiv, .removeSessionDiv{
margin-top:8px;
margin-left:-40px;
}


}

.addSessionDiv{
color:green;
}

.removeSessionDiv{
color:red;
}

footer{
	margin-top:-50px;
 	position: absolute !important;
    bottom: 0 !important;
	overflow:hidden;
}

html {
    position: relative !important;
    height: 100% !important;
}

body{
min-height: 100% !important;
}

.page-content{
padding-bottom:50px;
}

.errormsg, #noSend{
color:red;
font-weight:bold;
}

.showSelectedSessions:hover{
background-color:#FF346E;
opacity:0.4;
}

.showSelectedSessions a{
display:block;
font-weight:bold;
text-decoration:none;
}

.panel-title{
color:#FF346E;
font-weight:bold;
}

@-webkit-keyframes yellow-fade {   
   0% {background: yellow;}
   100% {background: none;}
}

@keyframes yellow-fade {
   0% {background: #ffffb3;}
   100% {background: none;}
}

.highlight {
   -webkit-animation: yellow-fade 2s ease-in 1;
   animation: yellow-fade 2s ease-in 1;
}
