{% extends '::base.html.twig' %}

{% block content %}
	<article id="informacion">
        <div class="separador">
            <h4>Content</h4>
        </div>
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

{% endblock %}