<!DOCTYPE html>
<html>
    <head>
    	<title>{% block title %}Panell Administració Texas{% endblock %}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />

		<!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		 <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		 <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

		<!--Styles-->
        {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link rel="stylesheet/less" href="{{ asset('bootstrap-datepicker-master/less/datepicker.less') }}" />
        <link rel="stylesheet/less" href="{{ asset('bootstrap-datepicker-master/less/datepicker3.less') }}" />
		{% endblock %}

        <script type="text/javascript" src="{{ asset('bootstrap-datepicker-master/js/bootstrap-datepicker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/tables.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
    </head>
    <body>
		{% block header %}
    	<div class="header">
	    	<div class="container">
			    <div class="row">
			       <div class="col-md-5">
			          <!-- Logo -->
			          <div class="logo">
			             <h1><a href="/">Administració Cinemes Texas App</a></h1>
			          </div>
			       </div>
			       <div class="col-md-6">
			          <div class="navbar navbar-inverse" role="banner">
			              <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
			                <ul class="nav navbar-nav">
			                  <li class="dropdown">
			                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compte <b class="caret"></b></a>
			                    <ul class="dropdown-menu animated fadeInUp">
									<li><a href="/register">Registrar-se</a></li>
			                      <li><a href="/profile">Perfil</a></li>
			                      <li><a href="/logout">Sortir</a></li>
			                    </ul>
			                  </li>
			                </ul>
			              </nav>
			          </div>
			       </div>
			    </div>
			</div>
		</div>
	{% endblock %}
		<div class="page-content">
    		<div class="row">
      			<div class="col-md-12">
      				<div class="col-md-2">
		  				<div class="sidebar content-box" style="display: block;">
               				<ul class="nav">
						        <!-- Main menu -->
						        <li class="current"><a href="/"><i class="glyphicon glyphicon-home"></i> Inici</a></li>
								<li><a href="#"><i class="glyphicon glyphicon-film"></i> Pel·lícules</a>
									<ul class="submenu">
									<li><a href="/insertFilm"><i class="glyphicon glyphicon-record"></i> Inserir pel·lícula</a></li>
									<li><a href="/showFilms"><i class="glyphicon glyphicon-list"></i> Mostrar pel·lícules</a></li>
									</ul>
								</li>
						        <li><a href="#"><i class="glyphicon glyphicon-calendar"></i>Cartellera</a>
									<ul class="submenu">
									<li><a href="/insertBillboard"><i class="glyphicon glyphicon-record"></i> Inserir cartellera</a></li>
									<li><a href="/showBillboard"><i class="glyphicon glyphicon-list"></i> Mostrar cartellera</a></li>
									<li><a href="/showSessions"><i class="glyphicon glyphicon-list-alt"></i> Mostrar sessions totals</a></li>
									</ul>
								</li>
						        <li><a href="#"><i class="glyphicon glyphicon-arrow-right"></i> Properament</a>
									<ul class="submenu">
									<li><a href="/insertComingSoon"><i class="glyphicon glyphicon-record"></i> Inserir properament</a></li>
									<li><a href="/showComingSoon"><i class="glyphicon glyphicon-list"></i> Mostrar properament</a></li>
									</ul>
								</li>
						        <li><a href="#"><i class="glyphicon glyphicon-flag"></i> Esdeveniments</a>
									<ul class="submenu">
									<li><a href="/insertEvents"><i class="glyphicon glyphicon-record"></i> Inserir esdeveniments</a></li>
									<li><a href="/showEvents"><i class="glyphicon glyphicon-list"></i> Mostrar esdeveniments</a></li>
									</ul>
								</li>
						    </ul>
             			</div>
		  			</div>
		  			<div class="col-md-10">
		  				{% block content %}
						{% endblock %}
    				</div>
				</div>
			</div>
		</div>
    	<footer>
        	<div class="container">
            	<div class="copy text-center">Cinemes Texas, 2017</div>
         	</div>
   		</footer>
    </body>
{% block javascripts %}
<script>
    function deleteBillboardAjax(deleteBillboardId){
     $.ajax('{{ path('deleteBillboard') }}', {
				data: {"data": deleteBillboardId },
                success: function(data) {
				window.location.reload()},
                type: "POST",
                error: function() {
                        alert("Aquesta funció no está disponible, Ajax error");
                }
            });
	}
    function deleteFilmAjax(deleteFilmId){
     $.ajax('{{ path('deleteFilm') }}', {
				data: {"data": deleteFilmId },
                success: function(data) {
				window.location.reload()},
                type: "POST",
                error: function() {
                        alert("Aquesta funció no está disponible, Ajax error");
                }
            });
	}
    function deleteComingSoonAjax(deleteComingSoonId){
     $.ajax('{{ path('deleteComingSoon') }}', {
				data: {"data": deleteComingSoonId },
                success: function(data) {
				window.location.reload()},
                type: "POST",
                error: function() {
                        alert("Aquesta funció no está disponible, Ajax error");
                }
            });
	}
	function deleteSessionAjax(deleteSessionId){
     $.ajax('{{ path('deleteSession') }}', {
				data: {"data": deleteSessionId },
                success: function(data) {
				window.location.reload()},
                type: "POST",
                error: function() {
                        alert("Aquesta funció no está disponible, Ajax error");
                }
            });
	}
	
	function deleteEventsAjax(deleteEventId){
     $.ajax('{{ path('deleteEvent') }}', {
				data: {"data": deleteEventId },
                success: function(data) {
				window.location.reload()},
                type: "POST",
                error: function() {
                        alert("Aquesta funció no está disponible, Ajax error");
                }
            });
	}
</script>
{% endblock %}
</html>
