<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Esdeveniments</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-list>
    <div class="box" *ngFor="let post of posts">
     <ion-grid (click)="goToEventPage(post)">
		<ion-row>
			<ion-col class="type">
      		<h2>{{ post.type}}</h2>
    	</ion-col>
		</ion-row>  		
  		<ion-row>
    		<ion-col class="name" class="text">	<h3>{{ post.name }}</h3> </ion-col>
  		</ion-row>
  		<ion-row class="box" *ngIf="eventIsACicle(post)">
  			<ion-col>
            <div *ngFor="let film of post.films">				
              <div class="cicleImagesCollection" *ngIf="filmHasImage(film)">	
              	<img [src]="film.image" />
              </div>
            </div>
  			</ion-col>
  			<ion-col *ngIf="eventIsACicle(post);else other_content">
  				<div class="text">         		
					 <div class="film-info" *ngFor="let film of post.films">         		
         			<div *ngFor="let session of film.sessions">{{ convertDateFormat(session.date)}}         			
         			</div>
         			<h4 class="title">{{ film.name }}</h4>
         		</div>
         	</div>
  			</ion-col>
  		</ion-row>
  		<ion-row #other_content>
  			<ion-col *ngIf="eventIsACineForum(post)">
					<img class="noCineForum" [src]="post.image" />	
  			</ion-col>
  			<ion-col col-7>
  					<div class="text overview">{{post.overview}}</div>
  			</ion-col>
  		</ion-row>
  		<ion-row>
    		<ion-col class="text">Data inici: {{ convertDateFormat(post.ini_date)}}  Data final: {{ convertDateFormat(post.fin_date)}}
    		</ion-col>
  		</ion-row>
		</ion-grid>
    </div>
  </ion-list>
</ion-content>
