page-events {
	.cicleImagesCollection {
		margin-left: 5%;
	}
	
	img {
		width: 75px;
		height: auto;
		float: left;
		padding: 5px;
		padding-bottom: 15px;
	}
	
	.box{
		margin-top: 2%;
		margin-right:1%;
		margin-left: 1%;
		border-radius: 2%;
		background-color: map-get($colors, texas-box);
		/*padding: 0.50% 2% 0.50% 2%;*/	
	}
	
	.noCineForum {		
		width: 150px;
		height: auto;
		float: left;
		padding: 5px;
		padding-bottom: 15px;
	}
	
	.text {
		color: map-get($colors, texas-text);
		text-align: justify;
		margin-left: 1%;
		margin-right: 1%;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;;
	}
	ion-grid {
		/*border: 1px solid black;
		background-color: map-get($colors, texas-dark);*/
		margin: 3%;
	}
	
	.film-info {
		margin-bottom: 10%;
	}
	.type {
		text-align: center;
		padding: 2px;	
		font-weight: bold;
		margin-left: 1%;
		padding-left: 2%;			
		color: map-get($colors, texas-text); 
	}
	.overview {
		font-weight: normal;
	}
	h2{
		color: map-get($colors, theme-color);
		font-weight: bold;	
		text-transform: uppercase;
	}
	h3 {
		font-weight: normal;
		font-size: 130%;	
	}
	h4{
		font-weight: bold;	
		font-size: 100%;
	}
}
