// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
page-home {
	/*
	font-family: "AlegreyaSans-Regular", "Arial";
	src: url('../../www/assets/fonts/AlegreyaSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
	*/
	
	font-family: "Arial";
	
	.content {
		background-color: map-get($colors, texas-primary);
		
	}
	ion-toolbar {
		background-color: map-get($colors, texas-box);
	}
	ion-navbar {
		color: map-get($colors, light);
	}

	.activeHighlight {
		/*background-color: map-get($colors, primary);*/
		background-color: map-get($colors, theme-color);
	}
	ion-footer ion-toolbar ion-title {
		font-weight: bold;
		text-align: center;
	}

	.box{
		border-radius: 2%;
		background-color: map-get($colors, texas-box);
		padding: 0.50% 2% 0.50% 2%;
		margin: 2% 1% 3% 1%;
		white-space:normal;
	}
	
}
