page-billboard {
	body {
		white-space: normal;
		text-align: justify;
	}

	img {
		width: 400px;
		height: auto;
		float: left;
		padding: 5px;
		padding-bottom: 15px;
	}
	
	.session {
		margin: auto;
    	width: 50%;
	}
	.showtime {
		width: 200px;
		text-align: center;
		background-color: map-get($colors, texas-theme);
	}
	ion-item .showtime {
		background-color: map-get($colors, texas-theme);
	}
	.rating {
		color: white;
		font-size: 16px;
	}

	#btnArrow {
		height: 15px;
		width: auto;
		margin-bottom: 15px;
	}

	ion-item .showtime {
		background-color: map-get($colors, light);
		margin-bottom: 5%;
	}
	.grid {
		background-color: map-get($colors, texas-primary);
		padding: 1%;
	}
	.film {
		background-color: map-get($colors, texas-primary);
	}
}
