<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cartellera <span class="title-date">{{ this.myDateString }}</span> <button ion-button id="btnArrow" clear="true" (click)="passToNextDay()"><ion-icon id="icon-arrow" name="arrow-dropright"></ion-icon></button></ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content id="ion-content">
<!--<ion-refresher (ionRefresh)="doRefresh($event)">
<ion-refresher-content>-->

  <ion-list>
  	<ion-nav #myNav [root]="rootPage"></ion-nav>
    <ion-item class="film" *ngFor="let session of this.posts">
    	<!--{{ this.arrTodaySessions.push(session) }}-->
		<ion-grid (click)="goToFilmPage(session)" id="{{session.billboard.film.id}}">
		<div class="box">
		  <ion-row>
		    <div ion-col col-auto>
			<img [src]= "this.getImageURL(session.billboard.film.image)"/>
			<!--<img src="http://labs.iam.cat/~a15adasevpar/comancheria.jpg"/>-->
		   	</div>
			<div ion-col class="rating">
				{{ session.billboard.film.rating }}
			</div>
		</ion-row>
		<ion-row>
			<div ion-row class="session_row">
				<div *ngIf="dateIsInThisWeek(session.date);else other_content">
				<!--<div *ngIf="this.texasService.compareDates(session.date);else other_content">-->
					<div class="session">
						{{ addId(session.billboard.film.id) }}
						<!--<template [ngIf]="this.texasService.compareDates(session.date)">-->
							<ion-item class="showtime">{{ texasService.beautifyHour(session.showtime) }}</ion-item>
						<!--</template>-->
		   			</div>
				</div>
	      	  	<ng-template #other_content>
					<div class="session">
						<ion-item class="showtime" color="texas-light">No hi ha sessions avui</ion-item>
					</div>
				</ng-template>
			</div>
		</ion-row>
		</div>
		</ion-grid>
    </ion-item>
  </ion-list>
<!--</ion-refresher-content>
</ion-refresher>-->
</ion-content>
