<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cartellera <span class="title-date">{{ this.myDateString }}</span> <button ion-button id="btnArrow" clear="true" (click)="passToNextDay()"><ion-icon id="icon-arrow" name="arrow-dropright"></ion-icon></button></ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-list>
  	<ion-nav #myNav [root]="rootPage"></ion-nav>
    <ion-item class="film" *ngFor="let session of this.posts">
		<div ion-grid (click)="goToFilmPage(post)">    
		  <ion-row>
		    <div ion-col col-auto>
		      <!--<img [src]="post.image" />-->
				[Image]
		   	</div>
			<div ion-col class="rating">
				{{ session.billboard.film.rating }}
			</div>
		</ion-row>
		<ion-row>
			<div ion-row class="session_row">
			    <!--<div *ngIf="this.texasService.filmHasSessionsInDay(post);else other_content"> DEPRECATED-->
				<div *ngIf="dateIsInThisWeek(session.date);else other_content">
					<!--<div *ngIf="sessionIsToday(session.date);else other_content">-->
					<div class="session" *ngFor="let session of post.sessions">
						<template [ngIf]="this.texasService.compareDates(session.date)">
							<ion-item class="showtime"><div>{{ session.showtime }}</div></ion-item>
						</template>
		   			</div>
				</div>
	      	  	<ng-template #other_content>
					<div class="session">
						<ion-item class="showtime" color="texas-light">No hi ha sessions avui</ion-item>
					</div>
				</ng-template>
			</div>
		</ion-row>
		</div>
    </ion-item>
  </ion-list>
</ion-content>
