page-location {
	body {
		background-color: white;
	}

	.text {
		color: map-get($colors, texas-text);
		text-align: justify;
		margin-left: 1%;
		margin-right: 1%;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
	}

	ion-grid {
		margin: 3%;
	}

	ion-row {
		
	}

	#direction {
		text-align: center;
		margin-top: 5%;
		font-size: 18px;
	}

	h2 {
		color: map-get($colors, texas-text);
		padding: 2px;
		text-align: left;
		font-weight: bold;
	}
	
	ul {
		list-style:none;
		margin-left: -30px;
		text-align: left;	
	}

	

	.text {
		padding: 0% 2% 0.5% 3%;	
	}

	li {
		display: inline;
		margin-right: 2%;	
	}
}
