<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>On Som</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-list>
  	<div id="direction" class="text"><strong>Carrer de Bailèn, 205, 08037 Barcelona</strong></div>					
		<ion-grid padding-bottom>
  		<ion-row>			
    		<ion-col class="box">
      		<h2>COM ARRIBAR</h2>
			<h3>Metro</h3>
			<div class="text">
				L4 ( Plaça Joanich) i L4 i L5 ( Verdaguer )
			</div>
			<h3>Autobús</h3>
			<div class="text">
				Línies:
				<ul>							
					<li>20</li>
					<li>39</li>
					<li>45</li>
					<li>47</li>
					<li>55</li>
					<li>114</li>
					<li>H8</li>
				</ul>
				Parades de Passeig St.Joan i Còrsega
			</div>
    		</ion-col>
  		</ion-row>
  		<ion-row>
    		<ion-col class="box">
      		<h2>CONTACTE</h2>
			<div class="text">
				Telèfons: 933484770 933487748
				Email:  
			</div>
		    </ion-col>
		</ion-row>
		<ion-row>
    		<ion-col class="box">
      		<h2>APARCAMENT</h2>
			<div class="text">
				Parking amb un 30% de descompte (presentant l'entrada del dia al Texas a qualsevol sessió) al Carrer Indústria nº9  
			</div>
    		</ion-col>
    	</ion-row>
    	<ion-row>
        <ion-col class="box">
        <div class="text">
    		  FACEBOOK
          <a href="https://es-es.facebook.com/cinemestexas/"><ion-icon name="logo-facebook"></ion-icon>cinemestexas</a><br>
          TWITTER
          <a href="https://twitter.com/cinetexas2014?lang=ca"><ion-icon name="logo-twitter">@CineTexas2014</ion-icon>
          </a><br>
          INSTAGRAM
          <a href="https://twitter.com/cinetexas2014?lang=ca"><ion-icon name="logo-instagram">cinemestexas</ion-icon>
          </a><br>
        </div>
        </ion-col>
    	</ion-row>	
    	<ion-row padding-bottom>
    		<ion-col>
			    <h2>UBICACIÓ</h2>
    		</ion-col>
  		</ion-row>
		</ion-grid>
  </ion-list>
</ion-content>