<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Els Texas</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding-bottom>
  <ion-list padding-bottom>
    <ion-grid padding-bottom>
      <ion-row>
        <ion-col>
        <div class="box">
        <h2>Sales</h2>
        <div class="text">
        <table>
				<tr><td>Sala 1: </td><td>Nestor Almendros </td><td>186</td><td><ion-icon name="ios-people"></ion-icon></td></tr> 
				<tr><td>Sala 2: </td><td>Rovira Beleta </td><td>112</td><td><ion-icon name="ios-people"></ion-icon></td></tr>
				<tr><td>Sala 3: </td><td>Bigas Luna </td><td>159</td><td><ion-icon name="ios-people"></ion-icon></td></tr>
				<tr><td>Sala 4: </td><td>José Luis Guarner </td><td>083</td><td><ion-icon name="ios-people"></ion-icon></td></tr>    
        </table>		
				
        </div>
        <hr>
        <ion-col>
				<img src="http://media-edg.barcelona.cat/wp-content/uploads/2014/09/cinemes-texas-4.jpg?v=1411040412" alt="">        
        </ion-col>
        </div>
        
        </ion-col>
        
        </ion-row>
        <ion-row>
        <ion-col>
        <div class="box">
        <h2>Característiques</h2>
        <div class="text">
        	Totes les sales estan equipades amb projectors digitals 2D i el millor so digital. Utilitzem un servidor de cine IMS2000 Dolby Doremi amb un projectors Christie CP2208.          
        </div>
        </div>
        </ion-col>
        </ion-row>
        
        <ion-row>        
        <ion-col>
        <div class="box" id="awards">
        <h2>Reconeixements</h2>
        <div class="text">
          "Europa Cinemas" ens ha distingit com el millor cinema d'Espanya i ens ha dedicat un reportatge dins de la seva revista, que es va presentat a Cannes 2016.
        </div>
         <hr>
        <ion-col>
				<img src="http://stadtkinowien.at/static/img/logos/europa-cinemas.png" alt="">        
        </ion-col>
        </div>
        </ion-col>
      </ion-row>
      </ion-grid>
  </ion-list>
</ion-content>