page-info {
	body {
		background-color: white;
	}	
	.text {
		color: map-get($colors, texas-text);
		text-align: justify;
		margin-left: 1%;
		margin-right: 1%;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		padding: 0% 2% 0.5% 3%;	
	}
	ion-grid {
		/*border: 1px solid black;*/
		/*background-color: map-get($colors, theme-color);*/
		margin: 3%;
	}
	#direction{
		text-align: center;
		margin-top: 5%;
		font-size: 18px;
	}

	h2 {
		color: map-get($colors, theme-color);
		padding: 2px;
		text-align: left;
		font-weight: bold;
	}
	

	td{
		padding-right: 1%;	
	}
	
	img{
		border-radius: 5%;
		width: 80%;
		height: auto;	
		position: center;
	}
}