<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Properament</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding-bottom>
  <ion-list padding-bottom>
    <ion-item class="box" *ngFor="let post of posts">
 
<div ion-grid (click)="goToFilmPage(post)">
		
      <ion-row>
        <ion-col col-auto>
          <img [src]="post.image" />
        </ion-col>
	</ion-row>
	<ion-row class="box">
        <ion-col>
          <div class="title"><p>{{ post.name }}</p></div>
          <div class="overview">
	             <p>{{ post.overview.toString() }}</p>
          </div>
          <div col-4 class="rating">
    	         <p>{{ post.rating }}</p>
          </div>
        </ion-col>
        </ion-row>

        </div>
    </ion-item>
  </ion-list>
</ion-content>
