page-billboard {
	img {
		width: 400px;
		height: auto;
		float: left;
		padding: 5px;
		padding-bottom: 15px;
	}
	h2 {
		font-weight: $font-weight-bold;
		font-size:55px;
	}
	.title {
		font-size: 25px;
		color: $film-title;
		text-transform: uppercase;
	}

	.content {
		white-space: normal;
		text-align: justify;
		background-color: map-get($colors, texas-primary);
	}
	.session {
		margin: auto;
    width: 50%;
	}
	.showtime {
		width: 200px;
		text-align: center;
		background-color: map-get($colors, primary);
	}
	.rating {
		color: black;
		font-size: 14px;
	}

}
