page-film {
	img {
		width: 250px;
		height: auto;
		float: left;
		padding: 5px;
	}
	.image {
		text-align: center;
	}
	h2 {
		font-weight: $font-weight-bold;
		font-size:55px;
	}
	.title {
		font-size: 25px;
		/*color: $colors[];*/
		color: $film-title;
		text-transform: uppercase;
	}

	body {
		white-space: normal;
		text-align: justify;
	}

	.attribute {
		font-weight: bold;
	}
	.content {
		color: black;
	}
	.film-sheet {
		background-color: map-get($colors, texas-primary);
	}
}
