<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{allParams.name}}</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-item class="box">
  <div class="content">
    <ion-grid>
    <ion-row>
      <div ion-col class="image">
      <img [src]="allParams.image" />
      </div>
        <!--<div class="title">{{ allParams.name }}</div>-->
    </ion-row>
    <ion-row>
      <ion-col class="content">
         {{ allParams.type}}
         <span class="attribute">Premis</span> {{ allParams.awards }}<br>
         <span class="attribute">Títol original</span> {{ allParams.originalTitle }}<br>
         <span class="attribute">Nacionalitat</span> {{ allParams.nacionality }}<br>
         <span class="attribute">Any de producció</span> {{ allParams.productionYear }}<br>
         <span class="attribute">Gènere</span> {{ allParams.genre }}<br>
         <span class="attribute">Duració</span> {{ allParams.duration }}<br>
         <span class="attribute">Directors</span> {{ allParams.directors }}<br>
         <span class="attribute">Actors</span> {{ allParams.actors }}<br>
         <span class="attribute">Versió</span> {{ allParams.version }}<br>
         <span class="attribute">Valoració</span> {{ allParams.rate }}<br>
         <span class="attribute">Qualificació per edats</span>{{ allParams.rating }}<br>
     </ion-col>
    </ion-row>
    <ion-row><!--*ngIf="this.texasService.filmHasSessionsInDay(allParams)">-->
        <ion-col *ngFor="let session of allParams.sessions"><!--nextThreeDaysSessions(allParams.sessions)">-->
          {{ convertDateFormat(session.date) }}
        </ion-col>
    </ion-row>
    </ion-grid>
  </div>
  </ion-item>

  <!--<button color="texas-light" ion-button navPop><--</button>-->
</ion-content>
